body {

	font-family: sans-serif; 

}


#content {
      width: 60% ;
      margin-left: auto ;
      margin-right: auto ;
}

#user_dets {

    text-align: right;
}

#footer {
    text-align: center;
}

#footer p {
    font-size: 10px;  
    
}

td.label {
    text-align: right;
    padding-right: 5px;
    vertical-align: top;
}

td.value {
    padding-left: 5px;
    vertical-align: top;
}

td.validator_error {

    color: #f21111;
}

#main_menu {

    
    
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-right-color: #3ba63d;
    border-left-color: #3ba63d;
    border-bottom-color: #3ba63d;
    border-top-color: #3ba63d;
}

#main_menu a {

    font-style: normal;
    color: white;
    font-weight: bold;
}

#main_menu.button {

    background-color: #28e9c2;
}

#main_menu.button:hover {

    background-color: #30c8ab;
}

#main_menu a:hover {
    
    color: yellow;
}

table.listing {
    width: 97%;
}

#search {

    
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: #279ac7;
    border-left-color: #279ac7;
    border-bottom-color: #279ac7;
    border-top-color: #279ac7;
    background-color: #14dce9;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}