body {

    font-family: sans-serif;

    
}

#user_context {

    position: absolute;
    top: 5px;
    right: 5px;
}

#wrap {
      width: 75% ;
      margin-left: auto ;
      margin-right: auto ;
      position: relative;
}

#content {

    margin-top: 10px;
}

#footer {
    text-align: center;
}

#footer p {
    font-size: 10px;  
    
}

td.label {
    text-align: right;
    padding-right: 5px;
    vertical-align: top;
}

table.index_list {
    width: 98%;
    
    font-size: 13px;
}

table.index_list th {
    
    text-align: left;
    vertical-align: top;
}

td.value {
    padding-left: 5px;
    vertical-align: top;
}

td.validator_error {

    color: #f21111;
}

table.form {
    width: 97%;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
}

table.form th {
    text-align: right;
    vertical-align: top;
    
}

div.form_row {

    
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

div.form_part {

    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.error_list {
    color: #8f0d0d
}

#listing_form {

    position: relative;
}

#main {
    
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#address {
    
}

#photos {  
   
    
}

img.listing_img {
    width: 100px;
}


input[type="text"], input[type="button"], input[type="password"], textarea, select {
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-right-color: #b7b7b7;
    border-left-color: #b7b7b7;
    border-bottom-color: #b7b7b7;
    border-top-color: #b7b7b7;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    background-color: white;
}


div.listing {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
 
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: #535353;
    border-left-color: #535353;
    border-bottom-color: #535353;
    border-top-color: #535353;
}

p.listing_title {

    font-weight: bold;
}

p.listing_count {
    position: absolute;
    top: 5px;
    right: 8px;

}

table.display th {

    text-align: right;
    vertical-align: top;
}

table.search_listing {
    width: 100%;
}

#search { 
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: #279ac7;
    border-left-color: #279ac7;
    border-bottom-color: #279ac7;
    border-top-color: #279ac7;
    background-color: #c2cccd;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.notice p {

    background-color: #14b8ed;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #fafafa;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: #1305fc;
    border-left-color: #1305fc;
    border-bottom-color: #1305fc;
    border-top-color: #1305fc;

}