body {

    font-family: sans-serif;

}

#user_context {

    position: absolute;
    top: 5px;
    right: 5px;
}


#wrap {
      width: 75% ;
      margin-left: auto ;
      margin-right: auto ;
      position: relative;
}

#content {

    margin-top: 10px;
}

#footer {
    text-align: center;
}

#footer p {
    font-size: 10px;  
    
}

td.label {
    text-align: right;
    padding-right: 5px;
    vertical-align: top;
}

table.index_list {
    width: 98%
}

table.index_list th {
    
    text-align: left;
    vertical-align: top;
}

td.value {
    padding-left: 5px;
    vertical-align: top;
}

td.validator_error {

    color: #f21111;
}

table.form {
    width: 97%;
    vertical-align: top;
    text-align: left;
}

table.form th {
    text-align: right;
    vertical-align: top;
    background-color: #c2cccd;
}

div.listing {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
 
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: #535353;
    border-left-color: #535353;
    border-bottom-color: #535353;
    border-top-color: #535353;
}

p.listing_title {

    font-weight: bold;
}

p.listing_count {
    position: absolute;
    top: 5px;
    right: 8px;

}

table.search_listing {
    width: 100%;
}

#search { 
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: #279ac7;
    border-left-color: #279ac7;
    border-bottom-color: #279ac7;
    border-top-color: #279ac7;
    background-color: #c2cccd;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.notice p {

    background-color: #a4ed14;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #fafafa;
}